app-root {
  display: block;
  height: 100%;
}

app-root as-drawer div.drawer {
  width: 150px;
}

.menu {
  display: none;
}

@media only screen and (max-width: 800px) {
  .menu {
    display: block;
  }
}
