<div style="height: 38px"></div>
<as-toolbar style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position: absolute; z-index: 9999">
  <div left style="display: flex">
    <a *ngIf="isLoggedIn" class="material-icons" (click)="open = ! open" style="vertical-align: 4px">home</a>
  </div>
  <div middle>{{name}}</div>
  <div right>
    <a style="cursor: pointer" (click)="onUserSettings($event)">
      <img *ngIf="image" style="height: 32px; width: 32px;border-radius: 50%" [src]="image">
    </a>
  </div>
</as-toolbar>
<as-viewport style="position: relative; height: 100%;">
  <as-drawer-container style="height: calc(100% - 38px)">
    <as-drawer [open]="open && isLoggedIn">
      <nav>
        <ul>
          <li *ngFor="let entry of links | keyvalue : originalOrder">
            <a [routerLink]="['/navigator/' + $any(entry).value.type]" [queryParams]="{link : toBase64($any(entry).value.url)}">{{entry.key}}</a>
          </li>
        </ul>
      </nav>
    </as-drawer>
    <as-drawer-content>
      <as-scroll-area>
        <router-outlet (activate)="onActivate()"></router-outlet>
      </as-scroll-area>
    </as-drawer-content>
  </as-drawer-container>
</as-viewport>
<as-footer>
  <as-taskbar left></as-taskbar>
</as-footer>

