<div style="display: flex; width: calc(100% - 16px); padding: 8px">
  <img style="width: 48px; height: 48px; border-radius: 50%" [src]="'service/shared/media/' + model.owner.picture.id">
  <div style="flex: 1; padding: 5px">
    {{model.owner.name}}
    <br/>
    <div style="display: flex">
      <div style="flex: 1">{{model.text}}</div>
      <app-likes #likes [model]="model"></app-likes>
    </div>
    <br/>
    <button class="normal" (click)="onLike(model, likes)">
      <span class="material-icons" style="font-size: small; vertical-align: -2px; margin-right: 5px">thumb_up</span>I Like
    </button>
    <button class="normal" style="margin-left: 5px" (click)="reply = ! reply">Reply</button>
    <app-comments *ngIf="reply" [commentId]="model.id" [create]="create"></app-comments>
  </div>
</div>

