app-timeline {
  display: block;
}

app-timeline span.name {
  margin-left: 8px;
}

app-timeline div.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

app-timeline a.link {
  flex: 1;
  cursor: pointer;
}
