<div content>
  <div style="margin: 10px">
    <div style="display: flex; align-items: center; margin-bottom: 8px">
      <img style="height: 64px; width: 64px;border-radius: 50%" [src]="'service/shared/media/' + startupService.model.form.picture.id">
      <div style="margin-left: 8px">{{startupService.model.form.nickName}}</div>
    </div>
    <a routerLink="/navigator/form" [queryParams]="{link : service}" class="left" style="margin-bottom: 8px">
      <div style="display: flex; align-items: center">
        <span class="material-icons" style="margin-right: 8px">assistant_direction</span>
        Navigator
      </div>
    </a>
    <a routerLink="/security/logout" class="left" style="margin-bottom: 8px">
      <div style="display: flex; align-items: center">
        <span class="material-icons" style="margin-right: 8px">logout</span>
        Logout
      </div>
    </a>
  </div>
</div>
