<div style="display: flex">
  <div style="flex: 1; border: 1px solid var(--main-dark2-color); margin: 8px; padding: 8px">
    <a style="display: flex; align-items: center" [routerLink]="['/' + model.lhs.to.nickName]">
      <img style="max-width: 36px; max-height: 36px" [src]="model.lhs.to.picture.url">
      <div style="margin-left: 8px;  flex: 1">
        {{model.lhs.to.name}}
      </div>
      <button class="material-icons">more_vert</button>
    </a>
  </div>
  <div style="flex: 1; border: 1px solid var(--main-dark2-color); margin: 8px; padding: 8px">
    <a style="display: flex; align-items: center" [routerLink]="['/' + model.rhs.to.nickName]">
      <img style="max-width: 36px; max-height: 36px" [src]="model.rhs.to.picture.url">
      <div  style="margin-left: 8px; flex: 1">
        {{model.rhs.to.name}}
      </div>
      <button class="material-icons">more_vert</button>
    </a>
  </div>
</div>
