<div style="display: flex; align-content: center; justify-content: center; flex-wrap: wrap; height: 100%">
  <div style="height: fit-content">
    <h1>
      Login
    </h1>
    <hr/>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div formGroupName="form" style="margin-top: 10px">
        <as-input-container placeholder="Email">
          <input type="text" name="email" formControlName="email" style="width: 250px">
        </as-input-container>
        <as-input-container placeholder="Password">
          <input type="password" name="password" formControlName="password" style="width: 250px">
        </as-input-container>
      </div>
      <div style="display: flex; align-content: baseline">
        <div *ngIf="form.errors?.['invalid']" style="font-size: small; line-height: 26px; vertical-align: baseline; color: var(--main-error-color)">Invalid User or Password</div>
        <div style="flex: 1"></div>
        <button type="submit" class="normal" style="margin-right: 5px">Login</button>
        <a routerLink="/security/register" style="font-size: small; line-height: 26px; vertical-align: baseline">Register</a>
      </div>
    </form>
  </div>
</div>
