<div style="display: flex; justify-content: center">
  <div style="min-width: 400px; max-width: 680px">
    <div>
      <div style="position: relative">
        <as-image-upload [(ngModel)]="$any(user).form.background" style="width: max(400px, 680px); height: 200px" [cropping]="true"></as-image-upload>
        <div style="height: 128px; width: 128px; bottom: -32px; left: 10px; position: absolute;">
          <as-image-upload [(ngModel)]="$any(user).form.picture" [cropping]="true" style="width: 128px; height: 128px"></as-image-upload>
        </div>
      </div>

      <as-tabs [(page)]="page" style="margin-top: 64px; margin-bottom: 10px">
        <as-tab>Timeline</as-tab>
        <as-tab>Details</as-tab>
        <as-tab>Life Events</as-tab>
        <as-tab>Friends</as-tab>
      </as-tabs>

      <as-pages [page]="page">
        <as-page>
          <ng-template>
            <app-timeline [owner]="user.form"></app-timeline>
          </ng-template>
        </as-page>
        <as-page>
          <ng-template>
            <app-details [form]="form" [user]="user"></app-details>
          </ng-template>
        </as-page>
        <as-page>
          <ng-template>
            Life Events
          </ng-template>
        </as-page>
        <as-page>
          <ng-template>
            <app-friends></app-friends>
          </ng-template>
        </as-page>
      </as-pages>
    </div>
  </div>
</div>
